html{
    scroll-behavior: smooth; /*deslisa na tela*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(0, 0, 0);
    padding: 50px 10px 0px 20px;
    height: 100vh;
    width: 200px;
    position: fixed; /*fixa o menu hamburguer*/
    top: 0;
    left: -200px;
    transition: ease 0.5s;
}

.nav ul{
    list-style: none;    
}

.nav ul li{
    /* border: 1px solid red; */
    margin-bottom: 10px;
    padding: 5px;
}

.nav ul li a{
    font-family: "arial";
    font-size: 15pt;
    color: white;
    text-decoration: none;
}

.nav ul li:hover{
    background-color: rgb(200, 200, 200, 0.3);
    cursor: pointer;
}

#af{
    color: white;
    background-color: gray;
    padding: 10px;
    text-decoration: none;
    font-size: 15pt;
    position: relative;
    left: 180px;
    top: 0px;
}

section{
    margin: 100px 50px;
    text-align: justify; 
    line-height: 20px;  
}

#conteudo{
    opacity: 0;
    transition: ease 0.5s;    
}

#carregando{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 15%;
    background-color: white
    opacity: 1;
    transition: ease 0.5s;
    top: 0px;
    left: 0px;
}

.caixa {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 50%;
    transition: ease 0.5s;
}

.caixa .textos {
    margin: 20px;
    border: 1px dotted #eee;
    padding-top: 20px;
}


.caixa img{
    width: 200px;
    height: 270px;
}

.caixa .textos .h2 {
    font-family: "arial";
    font-size: 25pt;    
}

.caixa .textos .sinopse {
    font-family: "arial";
    font-size: 12pt;    
    text-align: justify;
    line-height: 24pt;
}

.caixa:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-left: 100px;
    cursor: pointer;
}

#paginacao {
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 13, 13);
    /*para fixar o rodapé*/
    /* position: fixed;
    bottom: 0px;
    left: 0px; */
    width: 100vw;
}

.pag {
    text-align: center;
    padding: 20px;    
}

.pag ul{
    list-style-type: none;    
}

.pag li{
    display: inline-block;
    padding: 5px;
    margin: 5px;    
}

.pag li a{
    font-family: "verdana";
    font-size: 12pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: ease 0.5s;
    padding: 10px;
}

.pag li a:hover{
    border-radius: 50%;
    transform: rotate(360deg);
    transform: scale(1.1);
    background-color: black;
}

#fundo{
    width: 100vw;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.8);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 11000;
    opacity: 0;
    display: none;
}

#exibir{
    background-color: white;
    width: 50vw;
    height: 40vh;
    margin: 10% auto;
    border-radius: 10px;
    margin-top: -400px;
    transition: ease 1s;
    text-align: center;

}

#fechar{
    position: relative;
    left: 385px;
    top: 10px;	
    background-color: brown;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-top-right-radius: 10px;
    padding: 10px;            
}

#exibirImagem img{
    width: 50vw;
    height: 40vh;
    
}